# dependencies
node_modules

# Expo
.expo
dist
web-build

# Native build folders (these are HUGE and not needed for cloud builds)
android
ios

# Build artifacts
.kotlin
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# git
.git

# scratch folders
scratch

# example
app-example
