# dependencies
node_modules/
himnario/node_modules/

# Expo
.expo/
himnario/.expo/
dist/
web-build/

# OS / Scratch
desktop.ini
*.log
logcat.txt
scratch/

# Native build folders
android/
ios/
himnario/android/
himnario/ios/
